<ul>
  <li><%= link_to 'Tous les utilisateurs', users_path %></li>
  <li><%= link_to 'Toutes les catégories', categories_path %></li>
  <li><%= link_to 'Toutes les demandes d\'emprunt d\'équipment', requests_path %></li>
  <li><%= link_to 'Créer un nouvel utilisateur', new_user_path %></li>
  <li><%= link_to 'Créer un nouvel équipment', new_device_path %></li>
  <li><%= link_to 'Créer une nouvelle demande d\'emprunt', new_request_path %></li>
</ul>

