<% devices.each do |device| %>
  <tr>
    <td><%= device.id %></td>
    <td><%= link_to device.users.last, device.users.last %></td>
    <td><%= link_to device.category.label, device.category %></td>
    <td><%= device.name %></td>
    <td><%= device.description %></td>
    <td><%= link_to 'Voir', device, class: 'btn btn-primary' %></td>
  </tr>
<% end %>
