<% devices.each do |device| %>
  <div class="row sm-marged-bottom">
    <div class='col-md-2'><%= device.users.last %></div>
    <div class='col-md-3'>
      <a href="mailto:<%= device.users.last.email %>"><%= device.users.last.email %></a>
    </div>
    <div class='col-md-1'><%= device.category.label %></div>
    <div class='col-md-2'><%= device.name %></div>
    <div class='col-md-3'><%= device.description %></div>
    <div class='col-md-1'><%= link_to 'Voir', device, class: 'btn btn-primary' %></div>
  </div>
<% end %>
