<div class="container-fluid text-center">
<h1>Parc informatique Brand And Celebrities</h1>
<%= link_to new_device_path do %>
  <button class="new btn btn-success">Ajouter un équipement</button>
<% end %>
<br /><br />
<%= form_tag('/devices/search', method: :get) do %>
  <%= text_field_tag(:search) %>
<% end %>
</div>
<div class="container index-table">
  <table class="table table-hover sortable">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Email</th>
        <th>Categorie</th>
        <th>Equipement</th>
        <th>Description</th>
      </tr>
    </thead>
    </tbody>
      <% @devices.each do |device| %>
        <tr data-href= "<%= device_url(device) %>" class="clickable-row">
          <td class='col-md-2'><%= device.users.last %></td>
          <td class='col-md-3'><a href="mailto:<%= device.users.last.email %>"><%= device.users.last.email %></a></td>
          <td class='col-md-2'><%= device.category.label %></td>
          <td class='col-md-2'><%= device.name %></td>
          <td class='col-md-3'><%= device.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
