<ul>
<li>Nom : <%= @device.name %></li>
<li>Numéro de série : <%= @device.series %></li>
<li>Description : <%= @device.description %></li>
<li>Actuellement assigné à : <%= @device.users.last %></li>

</ul>
<ul>
<%@timeline.each do |element| %>
  <li><%= element %></li>
<% end %>
</ul>
<br>
<%= link_to 'Ajouter un update sur le matériel', new_device_update_path(@device) %>