<div class="container-fluid text-center">
  <h1><%= @device.name %></h1>
  <h2><%# @device.users.last %></h2>
  <%= link_to devices_path do %>
    <button class='btn btn-success'>Tous les équipements</button>
  <% end %>
  <%= link_to edit_device_path do %>
    <button class='btn btn-success'>Modifier</button>
  <% end %>
</div>
<div class="container-marged-top">
  <h4>Catégorie :</h4>
  <p><%= @device.category.label %></p>
  <h4>Numéro de série</h4>
  <p><%= @device.series %></p>
  <h4>Description :</h4>
  <p><%= @device.description %></p>
  <h4>Liste des anciens propriétaires :</h4>
  <ul>
    <% @device.users.reverse_each do |user| %>
      <li><%= user.name %></li>
    <% end %>
  </ul>
  <h4>Timeline</h4>
  <ul>
  <%@timeline.each do |element| %>
    <li><%= element %></li>
  <% end %>
  </ul>
</div>
<br>
<%= link_to 'Ajouter un update sur le matériel', new_device_update_path(@device) %>

