<div class="container-fluid text-center">
  <h1><%= @user.name %></h1>
  <%= link_to users_path do %>
    <button class='btn btn-success'>Tous les utilisateurs</button>
  <% end %>
</div>
<div>
  <h4>Tous les équipments actuellement assignés :</h4>
  <hr>
  <div class="row">
    <span class="col-md-4">Nom de l'équipement</span>
    <span class="col-md-4">Catégorie de l'équipement</span>
    <span class="col-md-4">Date de l'assignation</span>
  </div>
  <hr>
  <% @devices.each do |device| %>
    <div class= 'row'>
      <span class="col-md-4">
        <%= link_to device.name, device_path(device) %>
      </span>
      <span class="col-md-4">
        <%= device.category %>
      </span>
      <spen class="col-md-4">
        <%= device.devices_users.where(user: @user).last.created_at.strftime('%b %d, %Y') %>
      </spen>
    </div>
  <% end %>

</div>
